{% extends "base.html" %}

{% block header %}

<style>
  .nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
</style>

<div class="nav-container">
  <nav class="bg-neutral-700 w-fit rounded-full py-2 px-4 m-5 hover:bg-neutral-600 duration-300 active:duration-75 active:bg-neutral-500">
    <a class="font-bold block text-neutral-200" href="{{ url_for('index') }}">Home</a>
  </nav>
  {% if 'username' not in session %}
    <nav class="bg-neutral-700 w-fit rounded-full py-2 px-4 m-5 hover:bg-neutral-600 duration-300 active:duration-75 active:bg-neutral-500">
      <a class="font-bold block text-neutral-200" href="{{ url_for('register') }}">Register</a>
    </nav>
    <nav class="bg-neutral-700 w-fit rounded-full py-2 px-4 m-5 hover:bg-neutral-600 duration-300 active:duration-75 active:bg-neutral-500">
      <a class="font-bold block text-neutral-200" href="{{ url_for('login') }}">Login</a>
    </nav>
  {% else %}
    <nav class="bg-neutral-700 w-fit rounded-full py-2 px-4 m-5 hover:bg-neutral-600 duration-300 active:duration-75 active:bg-neutral-500">
      <a class="font-bold block text-neutral-200" href="{{ url_for('logout') }}">Logout</a>
    </nav>
  {% endif %}
</div>

{% block content %}
{% endblock %}

{% endblock %}
